body {
	background-image: url(../images/back.jpg);
	background-size: cover;
	font-size: 100%;
}

h1 {
	font-family: 'Fredericka the Great', cursive;
	font-size: 4em;
	color: #0e34f5;
	margin: 15px;
	text-align: center;
}

h2 {
	text-align: center;
	font-family: 'Fredericka the Great', cursive;
	font-size: 3.5em;
	color: #0e34f5;
	margin: 15px;
}

a:visited,
a:active,
a:hover,
a:link {
	color: #0e34f5;
	text-decoration-line: none;
}

.btn-sample {
	color: #FFFFFF;
	background-color: #0e34f5;
	border-color: #0e34f5;
}

.monrep {

	font-size: 1.5em;
	color: #0e34f5;
	margin: 50px;

}

.malegende {

	font-size: 1.5em;
	color: #0e34f5;
	margin: 15px;

}

.MonTableau {
	margin: 0 auto;
	width: 800px;
}

.MonLabel {
	color: #FFFFFF;

}

#message {
	text-align: center;
	color: #0e34f5;
}